@charset "UTF-8";
.translated {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);
}
.translated.active {
  -webkit-transition: 1.5s ease-in-out;
  -o-transition: 1.5s ease-in-out;
  transition: 1.5s ease-in-out;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.no_display {
  display: none;
}

.text {
  font-size: 1.5625em;
  line-height: 1.28em;
}

.spacing {
  margin-top: 10em;
}

.section {
  padding: 0 5em;
}

a, .slider_button, .banner label[for=cross], label[for=burger_menu], input[type=submit] {
  cursor: url("../../resources/images/cursor.svg"), pointer;
}

.error_link {
  margin-top: 2em;
}

.cta_links {
  font-size: 2.5em;
  padding: 1.25em 0.55em;
  color: rgb(255, 255, 255);
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
  display: inline-block;
  border-radius: 0.25em;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: 9.475em;
  -ms-flex-line-pack: center;
  align-content: center;
  border: none;
}
.cta_links:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.light_links {
  background-color: #254494;
}
.light_links_footer {
  background-color: #254494;
  font-size: 1.875em;
  border-radius: 0.333em;
}

.dark_links {
  background-color: #09214A;
}

.transparent_links_white {
  padding: calc(1.25em - 2px) 0.55em;
  border: 2px solid rgb(255, 255, 255);
}
.transparent_links_blue {
  padding: calc(1.25em - 2px) 0.55em;
  border: 2px solid #09214A;
  color: #09214A;
}

.main_footer_link {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  color: rgb(255, 255, 255);
  -webkit-text-decoration: 1px underline transparent;
  text-decoration: 1px underline transparent;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  -o-transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;
}
.main_footer_link:hover {
  -webkit-text-decoration: 1px underline rgb(255, 255, 255);
  text-decoration: 1px underline rgb(255, 255, 255);
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress_bar {
  background-color: #254494;
  height: 0.3em;
  position: fixed;
  bottom: 0;
  width: 0;
  border-radius: 0.15em;
}

.go_back a.go_back_link {
  padding: 0 0 0 4em;
  -webkit-box-shadow: unset;
  box-shadow: unset;
  color: #09214A;
  background-image: url("../../resources/images/go_back_button_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  max-width: unset;
}

.main_nav_home_link {
  background-image: url("../../resources/images/logo.svg");
  width: 110px;
  height: 81px;
  text-indent: -10000px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.main_nav label[for=burger_menu], .main_nav input[id=burger_menu] {
  display: none;
}
.main_nav_list {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.main_nav_list_item:not(:last-child) {
  margin-right: 2.8em;
}

.content {
  z-index: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  gap: 2.5em;
  height: 100%;
}
.content > div.flex_container {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.content > div.flex_container .title_and_catchphrase_container .main_title span {
  display: block;
  margin-bottom: 0.25em;
}
.content > div.flex_container .title_and_catchphrase_container .catchphrase {
  margin-top: 1.5em;
  font-size: 2.5em;
}
.content > div.flex_container .list_links {
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.content > div.flex_container .list_links ul {
  gap: 1.5625em;
  height: 100%;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  max-height: 15.25em;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.content > div.flex_container .list_links ul:hover li:not(:hover) {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-filter: brightness(5%);
  filter: brightness(5%);
}
.content > div.flex_container .list_links ul:hover li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.content > div.flex_container .list_links ul:hover li:hover .cards_link {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
}
.content > div.flex_container .list_links ul li {
  height: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  border-radius: 0.625em;
}
.content > div.flex_container .list_links ul li:first-child .cards_link_image {
  background-image: url("../../resources/images/decors_egypte_small.svg");
}
.content > div.flex_container .list_links ul li:nth-of-type(2) .cards_link_image {
  background-image: url("../../resources/images/decors_perse_small.svg");
}
.content > div.flex_container .list_links ul li:last-child .cards_link_image {
  background-image: url("../../resources/images/decors_grece_small.svg");
}
.content > div.flex_container .list_links ul li .cards_link {
  display: inline-block;
  width: 100%;
  height: 100%;
  z-index: 2;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-size: 2.5em;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  color: transparent;
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
.content > div.flex_container .list_links ul li .cards_link_image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px) brightness(55%);
  filter: blur(10px) brightness(55%);
  width: 100%;
  min-height: 100%;
}

.slider_button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #254494;
  border-radius: 50%;
  border: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.slider_button:hover {
  -webkit-transform: scale(1.05) translateY(-50%);
  -ms-transform: scale(1.05) translateY(-50%);
  transform: scale(1.05) translateY(-50%);
}
.slider_button:first-of-type {
  background-image: url("../../resources/images/right_arrow.svg");
  left: 1rem;
}
.slider_button:last-of-type {
  right: 1rem;
  background-image: url("../../resources/images/left_arrow.svg");
}

.form_error, .form_feedback {
  position: fixed;
  top: 0;
  right: 1em;
  padding: 1em;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 1;
  color: rgb(255, 255, 255);
  border-radius: 0.625em;
}

.form_error {
  background-color: #790b0b;
}

.form_feedback {
  background-color: #3a790b;
}

.disappear {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0;
}

.field_error {
  color: #790b0b;
}

body {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  background-color: #dcdcdc;
  overflow-x: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
body h1, body h2, body h3 {
  font-family: "HelveticBold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
}
body h2, body h3 {
  color: #09214A;
}
body h1, body h2 {
  font-size: 6.25em;
}
body h1 {
  color: rgb(255, 255, 255);
}
body h2 {
  margin-bottom: 1.5em;
}
body h2.main_title {
  color: rgb(255, 255, 255);
  margin-bottom: 0;
}
body h3 {
  font-size: 2.5em;
}
body img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: left;
  object-position: left;
}
body header {
  color: rgb(255, 255, 255);
  width: calc(100vw - 10em);
  height: calc(100vh - 10em);
  padding: 5em;
  overflow: hidden;
  position: relative;
}
body header.home .background {
  background-image: url("../../resources/images/décors rome.png");
}
body header.contact .background {
  background-image: url("../../resources/images/décors grèce.png");
}
body header.contact .content div.flex_container .list_links li:first-child .cards_link_image {
  background-image: url("../../resources/images/tel.png");
}
body header.contact .content div.flex_container .list_links li:last-child .cards_link_image {
  background-image: url("../../resources/images/mail.png");
}
body header.about .background {
  background-image: url("../../resources/images/décors égypte.png");
}
body header.about .content div.flex_container img {
  border-radius: 0.625em;
}
body header.projects .background {
  background-image: url("../../resources/images/décors perse.png");
}
body header.projects .content div.flex_container .list_links li:first-child .cards_link_image {
  background-image: url("../../resources/images/cv_landing_page.png");
}
body header.projects .content div.flex_container .list_links li:nth-child(2) .cards_link_image {
  background-image: url("../../resources/images/portfolio.png");
}
body header.projects .content div.flex_container .list_links li:last-child .cards_link_image {
  background-image: url("../../resources/images/sef_final_logo.png");
}
body header.project_cv .background {
  background-image: url("../../resources/images/cv_landing_page.png");
}
body header.project_cv .content div.flex_container .list_links li:first-child .cards_link_image {
  background-image: url("../../resources/images/ttw_landing_page.png");
}
body header.project_cv .content div.flex_container .list_links li:last-child .cards_link_image {
  background-image: url("../../resources/images/cv_landing_page.png");
}
body header.project_portfolio .background {
  background-image: url("../../resources/images/portfolio.png");
}
body header.project_sef .background {
  background-image: url("../../resources/images/sef_final_logo.png");
}
body header.project_sef .content div.flex_container .list_links li:first-child .cards_link_image {
  background-image: url("../../resources/images/sef_huy.png");
}
body header.project_sef .content div.flex_container .list_links li:last-child .cards_link_image {
  background-image: url("../../resources/images/sef_final_logo.png");
}
body main {
  color: #09214A;
  margin: 10em 0;
}
body main .no_js_banner {
  background-color: #09214A;
}
body main .no_js_banner_text {
  color: rgb(255, 255, 255);
  margin-bottom: 1.2em;
}
body main .no_js_banner .banner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body main .no_js_banner .banner div {
  margin: 5em;
}
body main .no_js_banner .banner label {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  margin: 5em 5em 0 0;
}
body main .no_js_banner .banner label:before, body main .no_js_banner .banner label:after {
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 12.5px;
}
body main .no_js_banner .banner label:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
body main .no_js_banner .banner label:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body main .no_js_banner .banner input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  visibility: hidden;
  position: absolute;
}
body main .no_js_banner .banner input:checked {
  display: none;
}
body main .no_js_banner .banner input:checked + label + div, body main .no_js_banner .banner input:checked + label {
  display: none;
}
body main .last_time_modified {
  margin-left: 5em;
}
body main.flex_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body main.flex_container section:nth-of-type(even) {
  padding-left: 0;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
body main.flex_container section:nth-of-type(odd) {
  padding-right: 0;
}
body main.flex_container section {
  max-width: 60%;
}
body main .last_projects_container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  row-gap: 3.75em;
}
body main .last_projects_container:hover .last_project:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
body main .last_projects_container:hover .last_project:hover .last_project_link {
  top: 0;
  color: rgb(255, 255, 255);
}
body main .last_projects_container:hover .last_project:not(:hover) {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-filter: brightness(5%);
  filter: brightness(5%);
}
body main .last_projects_container:hover .last_project:not(:hover):nth-of-type(even) {
  -webkit-transform: translateY(calc(50% + 1.875em)) scale(0.95);
  -ms-transform: translateY(calc(50% + 1.875em)) scale(0.95);
  transform: translateY(calc(50% + 1.875em)) scale(0.95);
}
body main .last_projects_container:hover .last_project:nth-of-type(even):hover {
  -webkit-transform: translateY(calc(50% + 1.875em)) scale(1.05);
  -ms-transform: translateY(calc(50% + 1.875em)) scale(1.05);
  transform: translateY(calc(50% + 1.875em)) scale(1.05);
}
body main .last_projects_container .last_project {
  display: inline-block;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: calc(50% - 20px);
  height: 30em;
  overflow: hidden;
  position: relative;
  border-radius: 0.625em;
}
body main .last_projects_container .last_project:nth-of-type(even) {
  -webkit-transform: translateY(calc(50% + 1.875em));
  -ms-transform: translateY(calc(50% + 1.875em));
  transform: translateY(calc(50% + 1.875em));
}
body main .last_projects_container .last_project_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  color: transparent;
  text-decoration: none;
  z-index: 1;
  font-size: 2.5em;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.4);
}
body main .last_projects_container .last_project_card {
  width: 100%;
  height: 100%;
  text-indent: -100000px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
body main .last_projects_container .last_project:first-of-type .last_project_card {
  background-image: url("../../resources/images/piédestal avec cv.png");
}
body main .last_projects_container .last_project:nth-of-type(2) .last_project_card {
  background-image: url("../../resources/images/piédestal avec portfolio.png");
}
body main .last_projects_container .last_project:last-of-type .last_project_card {
  background-image: url("../../resources/images/piédestal avec sef.png");
}
body main .home_cv {
  width: calc(100vw - 10em);
  padding: 10.625em 5em;
  text-align: center;
  position: relative;
}
body main .home_cv .cv_background {
  background-image: url("../../resources/images/cv_landing_page.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: brightness(55%);
  filter: brightness(55%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body main .home_cv .home_cv_container {
  position: relative;
  z-index: 1;
}
body main .home_cv .home_cv_container h2, body main .home_cv .home_cv_container p {
  color: rgb(255, 255, 255);
}
body main .home_cv .home_cv_container h2 {
  margin-bottom: 0.7em;
}
body main .home_cv .home_cv_container p {
  font-size: 2.5em;
  margin-bottom: 5em;
}
body main .home_cv .home_cv_container .cv_links_container {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.875em;
}
body main .home_cv .home_cv_container .cv_links_container a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
body main .skills_container {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 6.25em 1.875em;
}
body main .skills_container .skill {
  -ms-flex-preferred-size: 22em;
  flex-basis: 22em;
}
body main .skills_container .skill_description {
  margin-top: 2.4em;
}
body main .skills_container .skill img {
  width: 100%;
  height: auto;
  border-radius: 0.625em;
}
body main .soft_skills_container, body main .hobbies_container {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body main .soft_skills_container article, body main .hobbies_container article {
  border-top: 1px solid #09214A;
  padding: 5em 2.5em 2.5em 2.5em;
  -ms-flex-preferred-size: 33%;
  flex-basis: 33%;
}
body main .soft_skills_container article:not(:last-child), body main .hobbies_container article:not(:last-child) {
  border-right: 1px solid #09214A;
}
body main .soft_skills_container article:first-child, body main .hobbies_container article:first-child {
  padding-left: 0;
}
body main .soft_skills_container article .soft_skill_title, body main .soft_skills_container article .hobby_title, body main .hobbies_container article .soft_skill_title, body main .hobbies_container article .hobby_title {
  margin-bottom: 1.5em;
  font-size: 2.5em;
}
body main .scholar_career_container {
  background-image: url("../../resources/images/timeline_arrow.svg");
  height: 1052px;
  background-repeat: no-repeat;
  background-position: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body main .scholar_career_container ul {
  width: 80%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body main .scholar_career_container ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1em;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  position: relative;
}
body main .scholar_career_container ul li:after {
  background-color: #09214A;
  width: 100px;
  height: 100px;
}
body main .scholar_career_container ul li:nth-child(even) {
  text-align: right;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
body main .scholar_career_container ul li:nth-child(even) .scholar_formation:before {
  width: 20%;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  background-color: #09214A;
}
body main .scholar_career_container ul li:nth-child(odd) .scholar_formation:after {
  width: 20%;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 30%;
  content: "";
  background-color: #09214A;
}
body main .scholar_career_container ul li .scholar_formation {
  width: 25%;
}
body main .scholar_career_container ul li .scholar_formation time {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
}
body main .form_container form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  row-gap: 4.8em;
}
body main .form_container form input[type=submit] {
  font-size: 1.6em;
}
body main .form_container form > div {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
body main .form_container form fieldset {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  row-gap: 3em;
}
body main .form_container form fieldset legend {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}
body main .form_container form fieldset .label_input {
  position: relative;
  -ms-flex-preferred-size: calc(50% - 1.5em);
  flex-basis: calc(50% - 1.5em);
}
body main .form_container form fieldset .label_input input, body main .form_container form fieldset .label_input textarea {
  min-height: 8.9375em;
  width: calc(100% - 4em - 4px);
  padding: 0 2em;
  background-color: transparent;
  border: 2px solid #09214A;
  border-radius: 0.4em;
}
body main .form_container form fieldset .label_input textarea {
  padding-top: 4em;
}
body main .form_container form fieldset .label_input .label_positioning {
  background-color: #dcdcdc;
  position: absolute;
  z-index: 1;
  top: -12.5px;
  left: 2em;
  padding: 0 0.8em;
}
body main .projects_container, body main .presentation_container, body main .language_container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 7.5em;
}
body main .projects_container article:nth-child(even) .project_content, body main .projects_container article:nth-child(even) .presentation_content, body main .projects_container article:nth-child(even) .language_content, body main .presentation_container article:nth-child(even) .project_content, body main .presentation_container article:nth-child(even) .presentation_content, body main .presentation_container article:nth-child(even) .language_content, body main .language_container article:nth-child(even) .project_content, body main .language_container article:nth-child(even) .presentation_content, body main .language_container article:nth-child(even) .language_content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}
body main .projects_container article .project_content, body main .projects_container article .presentation_content, body main .projects_container article .language_content, body main .presentation_container article .project_content, body main .presentation_container article .presentation_content, body main .presentation_container article .language_content, body main .language_container article .project_content, body main .language_container article .presentation_content, body main .language_container article .language_content {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  gap: 3.75em;
}
body main .projects_container article .project_content img, body main .projects_container article .presentation_content img, body main .projects_container article .language_content img, body main .presentation_container article .project_content img, body main .presentation_container article .presentation_content img, body main .presentation_container article .language_content img, body main .language_container article .project_content img, body main .language_container article .presentation_content img, body main .language_container article .language_content img {
  width: 50%;
  height: auto;
  border-radius: 0.625em;
}
body main .projects_container article .project_content .text_and_links, body main .projects_container article .presentation_content .text_and_links, body main .projects_container article .language_content .text_and_links, body main .presentation_container article .project_content .text_and_links, body main .presentation_container article .presentation_content .text_and_links, body main .presentation_container article .language_content .text_and_links, body main .language_container article .project_content .text_and_links, body main .language_container article .presentation_content .text_and_links, body main .language_container article .language_content .text_and_links {
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  gap: 3.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
body main .projects_container article .project_content .text_and_links .links_container, body main .projects_container article .presentation_content .text_and_links .links_container, body main .projects_container article .language_content .text_and_links .links_container, body main .presentation_container article .project_content .text_and_links .links_container, body main .presentation_container article .presentation_content .text_and_links .links_container, body main .presentation_container article .language_content .text_and_links .links_container, body main .language_container article .project_content .text_and_links .links_container, body main .language_container article .presentation_content .text_and_links .links_container, body main .language_container article .language_content .text_and_links .links_container {
  width: 100%;
  gap: 2.5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
body main .projects_container article .project_content .text_and_links .links_container a, body main .projects_container article .presentation_content .text_and_links .links_container a, body main .projects_container article .language_content .text_and_links .links_container a, body main .presentation_container article .project_content .text_and_links .links_container a, body main .presentation_container article .presentation_content .text_and_links .links_container a, body main .presentation_container article .language_content .text_and_links .links_container a, body main .language_container article .project_content .text_and_links .links_container a, body main .language_container article .presentation_content .text_and_links .links_container a, body main .language_container article .language_content .text_and_links .links_container a {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
body main .language_container .language_content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-flow: row-reverse;
  flex-flow: row-reverse;
}
body main .slider_container {
  position: relative;
  height: 41.625em;
}
body main .slider_container .slideshow {
  position: relative;
  width: 100%;
  height: 100%;
}
body main .slider_container .slideshow_content {
  display: inline-block;
  width: 300%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
body main .slider_container .slideshow_content li {
  display: inline-block;
  height: 100%;
  width: calc(33.3333333333% - 3px);
}
body main .slider_container .slideshow_content li img {
  width: 100%;
  height: 100%;
  border-radius: 0.625em;
}
body main .ln_title {
  margin-bottom: 0.6em;
}
body main .owner:not(:last-of-type) {
  margin-bottom: 0.8333em;
}
body main .contact_me_container {
  text-align: center;
}
body footer {
  background-color: #09214A;
  padding: 5em;
  color: rgb(255, 255, 255);
}
body footer article.flex_container {
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body footer article.flex_container:last-child small {
  font-size: 1.25em;
}
body footer article.flex_container:first-child {
  border-bottom: 1px solid rgb(255, 255, 255);
  padding-bottom: 5em;
  margin-bottom: 5em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 5em;
}
body footer article.flex_container:first-child nav, body footer article.flex_container:first-child aside, body footer article.flex_container:first-child div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 3.75em;
  -webkit-box-pack: initial;
  -ms-flex-pack: initial;
  justify-content: initial;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body footer article.flex_container:first-child nav ul {
  gap: 1.875em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
}
body footer article.flex_container:first-child aside ul {
  gap: 3em;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
}
body footer article.flex_container:first-child aside ul li:first-child a {
  background-image: url("../../resources/images/facebook.svg");
}
body footer article.flex_container:first-child aside ul li:nth-of-type(2) a {
  background-image: url("../../resources/images/github.svg");
}
body footer article.flex_container:first-child aside ul li:last-child a {
  background-image: url("../../resources/images/instagram.svg");
}
body footer article.flex_container:first-child aside ul li a {
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  text-indent: -100000px;
  width: 60px;
  height: 120px;
}
body footer article.flex_container div p {
  width: 11.68em;
}
body footer article.flex_container div a {
  margin-top: 1em;
}
body footer article.flex_container h3 {
  color: rgb(255, 255, 255);
}

@media (height < 1080px) {
  .text {
    font-size: 1em;
  }
  .cta_links {
    font-size: 1.875em;
  }
  .light_links_footer {
    font-size: 1.5625em;
  }
  .content > div.flex_container .title_and_catchphrase_container .catchphrase {
    font-size: 1.875em;
  }
  .content > div.flex_container .list_links ul li .cards_link {
    font-size: 1.875em;
  }
  .section {
    padding: 0 2.5em;
  }
  .go_back a.go_back_link {
    padding: 0 0 0 5em;
  }
  body h1, body h2 {
    font-size: 3.75em;
  }
  body h3 {
    font-size: 1.875em;
  }
  body header {
    padding: 2.5em;
    height: calc(100vh - 5em);
    width: calc(100vw - 5em);
  }
  body main .last_projects_container .last_project_link {
    font-size: 1.875em;
  }
  body main .last_time_modified {
    margin-left: 2.5em;
  }
  body main .banner div {
    margin: 2.5em;
  }
  body main .banner label {
    margin: 2.5em 2.5em 0 0;
  }
  body main .home_cv {
    padding: 10.625em 2.5em;
    width: calc(100vw - 5em);
  }
  body main .home_cv .home_cv_container p {
    font-size: 1.875em;
  }
  body footer {
    padding: 2.5em;
  }
}
@media (width <= 1027px) and (width >= 775px) and (width <= 530px) {
  body main .form_container form fieldset .label_input input, body main .form_container form fieldset .label_input textarea {
    padding-top: 1em;
  }
}
@media (width <= 775px) {
  body header .content > div.flex_container .list_links ul li .cards_link {
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    color: rgb(255, 255, 255);
  }
  body main .projects_container article:nth-child(even) .project_content, body main .projects_container article:nth-child(even) .presentation_content, body main .projects_container article:nth-child(even) .language_content, body main .presentation_container article:nth-child(even) .project_content, body main .presentation_container article:nth-child(even) .presentation_content, body main .presentation_container article:nth-child(even) .language_content, body main .language_container article:nth-child(even) .project_content, body main .language_container article:nth-child(even) .presentation_content, body main .language_container article:nth-child(even) .language_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body main .projects_container article .project_content, body main .projects_container article .presentation_content, body main .projects_container article .language_content, body main .presentation_container article .project_content, body main .presentation_container article .presentation_content, body main .presentation_container article .language_content, body main .language_container article .project_content, body main .language_container article .presentation_content, body main .language_container article .language_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875em;
  }
  body main .projects_container article .project_content img, body main .projects_container article .presentation_content img, body main .projects_container article .language_content img, body main .presentation_container article .project_content img, body main .presentation_container article .presentation_content img, body main .presentation_container article .language_content img, body main .language_container article .project_content img, body main .language_container article .presentation_content img, body main .language_container article .language_content img {
    width: 100%;
  }
  body main .projects_container article .project_content .text_and_links, body main .projects_container article .presentation_content .text_and_links, body main .projects_container article .language_content .text_and_links, body main .presentation_container article .project_content .text_and_links, body main .presentation_container article .presentation_content .text_and_links, body main .presentation_container article .language_content .text_and_links, body main .language_container article .project_content .text_and_links, body main .language_container article .presentation_content .text_and_links, body main .language_container article .language_content .text_and_links {
    gap: 1.875em;
  }
  body main .last_projects_container .last_project_link {
    top: 0;
    color: rgb(255, 255, 255);
  }
  body main .form_container fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  body footer article.flex_container:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1.875em;
  }
}
@media (width <= 700px) {
  body main .last_projects_container .last_project {
    height: 15em;
  }
  body main .soft_skills_container, body main .hobbies_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
  }
  body main .soft_skills_container article, body main .hobbies_container article {
    border-top: none;
    padding-left: 0;
    padding-top: 0;
  }
  body main .soft_skills_container article:not(:last-child), body main .hobbies_container article:not(:last-child) {
    border-right: none;
  }
  body main .soft_skills_container article:not(:first-child), body main .hobbies_container article:not(:first-child) {
    border-top: 1px solid #09214A;
    padding-top: 2.5em;
  }
  body main .soft_skills_container article:last-child, body main .hobbies_container article:last-child {
    padding-bottom: 0;
  }
  body main .soft_skills_container article .soft_skill_title, body main .soft_skills_container article .hobby_title, body main .hobbies_container article .soft_skill_title, body main .hobbies_container article .hobby_title {
    font-size: 1.25em;
  }
  body main .slider_container {
    height: unset;
  }
  body main .slider_container .slider_button {
    display: none;
  }
  body main .slider_container .slideshow {
    position: relative;
    width: 100%;
    height: 100%;
  }
  body main .slider_container .slideshow_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: initial;
    width: 100%;
  }
  body main .slider_container .slideshow_content li {
    display: inline-block;
    height: 100%;
    width: initial;
  }
  body main .slider_container .slideshow_content li img {
    width: 100%;
    height: 100%;
    border-radius: 0.625em;
  }
}
@media (width <= 550px) {
  body header .main_nav {
    position: relative;
  }
  body header .main_nav_list {
    position: absolute;
    top: -200%;
    z-index: 3;
    opacity: 0;
  }
  body header .main_nav_home_link {
    width: 50px;
    height: 36.82px;
  }
  body header .main_nav label[for=burger_menu], body header .main_nav input[id=burger_menu] {
    display: initial;
  }
  body header .main_nav input[type=checkbox] {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    visibility: hidden;
    position: absolute;
  }
  body header .main_nav input[type=checkbox]:checked ~ .main_nav_list {
    opacity: 1;
    top: -2.5em;
    left: -2.5em;
    padding: 5em;
    background-color: #09214A;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: calc(100vw - 10em);
    height: calc(100vh - 10em);
  }
  body header .main_nav input[type=checkbox]:checked ~ .main_nav_list li {
    margin: 0;
  }
  body header .main_nav input[type=checkbox]:checked ~ .main_nav_list li a {
    font-size: 2.5em;
  }
  body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] {
    z-index: 4;
  }
  body header .main_nav input[type=checkbox]:checked ~ label .line {
    background-color: transparent;
  }
  body header .main_nav input[type=checkbox]:checked ~ label .line:before, body header .main_nav input[type=checkbox]:checked ~ label .line:after {
    background-color: #fff;
  }
  body header .main_nav input[type=checkbox]:checked ~ label .line:before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  body header .main_nav input[type=checkbox]:checked ~ label .line:after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  body header .main_nav label[for=burger_menu] {
    width: 2em;
    height: 3em;
    position: relative;
  }
  body header .main_nav label[for=burger_menu] .line {
    width: 100%;
    display: block;
    height: 0.2em;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: #fff;
    -webkit-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  body header .main_nav label[for=burger_menu] .line:before, body header .main_nav label[for=burger_menu] .line:after {
    content: "";
    height: 0.2em;
    width: 100%;
    background-color: #fff;
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  body header .main_nav label[for=burger_menu] .line:before {
    -ms-transform: translateY(-0.5em);
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
  }
  body header .main_nav label[for=burger_menu] .line:after {
    -ms-transform: translateY(0.5em);
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
  }
  body main.flex_container section {
    max-width: unset;
  }
  body main.flex_container section:nth-of-type(odd) {
    padding-right: 2.5em;
  }
  body main.flex_container section:nth-of-type(even) {
    -ms-flex-item-align: start;
    align-self: flex-start;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}
@media (width <= 500px) {
  body h1, body h2 {
    font-size: 2.5em;
  }
  body h3 {
    font-size: 1.25em;
  }
  body header {
    padding: 1em;
    height: calc(100vh - 2em);
    width: calc(100vw - 2em);
  }
  body header .main_nav input[id=burger_menu]:checked ~ .main_nav_list {
    top: -1em;
    left: -1em;
    padding: 1em;
    width: calc(100vw - 2em);
    height: calc(100vh - 2em);
  }
  body header .main_nav input[id=burger_menu]:checked ~ .main_nav_list li a {
    font-size: 1.875em;
  }
  body header .main_nav > .flex_container {
    gap: 3.75em;
  }
  body header .content div.flex_container {
    gap: 3.75em;
  }
  body header .content div.flex_container .list_links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  body header .content div.flex_container .list_links ul li {
    width: 60%;
  }
  body header .content div.flex_container div:has(img) {
    text-align: center;
  }
  body main.flex_container section:nth-of-type(odd) {
    padding-right: 1em;
  }
  body main.flex_container section:nth-of-type(even) {
    padding-left: 1em;
    padding-right: 1em;
  }
  body main .last_projects_container .last_project {
    height: 7.5em;
  }
  body main .last_projects_container .last_project_link {
    font-size: 1.25em;
  }
  body main .last_time_modified {
    margin-left: 1em;
  }
  body main .banner div {
    margin: 1em;
  }
  body main .banner label {
    margin: 1em 1em 0 0;
  }
  body main .home_cv {
    padding: 10.625em 1em;
    width: calc(100vw - 2em);
  }
  body main .home_cv .home_cv_container p {
    font-size: 1.25em;
  }
  body footer {
    padding: 2.5em 1em;
  }
  .text {
    font-size: 0.75em;
  }
  .cta_links {
    font-size: 1.25em;
  }
  .light_links_footer {
    font-size: 1em;
  }
  .section {
    padding: 0 1em;
  }
  .go_back a.go_back_link {
    padding: 0 0 0 7em;
  }
  .content > div.flex_container .title_and_catchphrase_container .catchphrase {
    font-size: 1.25em;
  }
  .content > div.flex_container .list_links ul li .cards_link {
    font-size: 1.25em;
  }
}

/*# sourceMappingURL=main.css.map */
