//sass --watch index.scss:../css/index.css
@import "variables";

.translated {
  opacity: 0;
  -webkit-transform: translateY(30px);
  -ms-transform: translateY(30px);
  transform: translateY(30px);

  &.active {
    -webkit-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.no_display {
  display: none;
}

.text {
  font-size: 1.5625em;
  line-height: 1.28em;
}

.spacing {
  margin-top: $section_margin;
}

.section {
  padding: 0 5em;
}

a, .slider_button, .banner label[for="burger_menu"], input[type="submit"] {
  cursor: url("../../resources/images/cursor.svg"), pointer;
}

.error_link {
  margin-top: 2em;
}

.cta_links {
  font-size: 2.5em;
  padding: 1.25em .55em;
  color: $white_color;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-align: center;
  display: inline-block;
  border-radius: .25em;
  font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  max-width: calc(10.025em - .55em);
  -ms-flex-line-pack: center;
  align-content: center;
  border: none;

  &:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.light_links {
  background-color: $light_blue_color;

  &_footer {
    background-color: $light_blue_color;
    font-size: 1.875em;
    border-radius: .333em;
  }
}

.dark_links {
  background-color: $dark_blue_color;
}

.transparent_links {
  &_white {
    padding: calc(1.25em - 2px) .55em;
    border: 2px solid $white_color;
  }

  &_blue {
    padding: calc(1.25em - 2px) .55em;
    border: 2px solid $dark_blue_color;
    color: $dark_blue_color;
  }
}

.main_footer_link {
  font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
  color: $white_color;
  -webkit-text-decoration: 1px underline transparent;
  text-decoration: 1px underline transparent;
  -webkit-transition: -webkit-text-decoration 0.3s ease-in-out;
  transition: -webkit-text-decoration 0.3s ease-in-out;
  -o-transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out;
  transition: text-decoration 0.3s ease-in-out, -webkit-text-decoration 0.3s ease-in-out;

  &:hover {
    -webkit-text-decoration: 1px underline $white_color;
    text-decoration: 1px underline $white_color;
  }
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.progress_bar {
  background-color: $light_blue_color;
  height: .3em;
  position: fixed;
  bottom: 0;
  width: 0;
  border-radius: .15em;
}

.go_back {
  a.go_back_link {
    padding: 0 0 0 4em;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    color: $dark_blue_color;
    background-image: url("../../resources/images/go_back_button_arrow.svg");
    background-repeat: no-repeat;
    background-position: left center;
    max-width: unset;
  }
}

.main_nav {
  &_home_link {
    background-image: url("../../resources/images/logo.svg");
    width: 110px;
    height: 81px;
    text-indent: -10000px;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  label[for="burger_menu"], input[id="burger_menu"] {
    display: none;
  }

  &_list {
    -webkit-transition: top .3s ease-in-out;
    -o-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;

    &_item {
      &:not(:last-child) {
        margin-right: 2.8em;
      }
    }
  }
}

.content {
  z-index: 1;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: initial;
  -ms-flex-align: initial;
  align-items: initial;
  gap: 2.5em;
  height: 100%;

  & > div.flex_container {
    -webkit-box-align: initial;
    -ms-flex-align: initial;
    align-items: initial;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .title_and_catchphrase_container {
      .main_title {
        span {
          display: block;
          margin-bottom: .25em;
        }
      }

      .catchphrase {
        margin-top: 1.5em;
        font-size: 2.5em;
      }
    }

    .list_links {
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;

      ul {
        gap: 1.5625em;
        height: 100%;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        max-height: 15.25em;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;

        &:hover {

          li:not(:hover) {
            -webkit-transform: scale(.9);
            -ms-transform: scale(.9);
            transform: scale(.9);
            -webkit-filter: brightness(5%);
            filter: brightness(5%);
          }

          li:hover {
            -webkit-transform: scale(1.05);
            -ms-transform: scale(1.05);
            transform: scale(1.05);

            & .cards_link {
              color: $white_color;
              background-color: rgba(0, 0, 0, 0.3);
              top: 0;
            }
          }
        }

        li {
          height: 100%;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          position: relative;
          overflow: hidden;
          border-radius: .625em;

          &:first-child .cards_link_image {
            background-image: url("../../resources/images/decors_egypte_small.svg");
          }

          &:nth-of-type(2) .cards_link_image {
            background-image: url("../../resources/images/decors_perse_small.svg");
          }

          &:last-child .cards_link_image {
            background-image: url("../../resources/images/decors_grece_small.svg");
          }

          .cards_link {
            display: inline-block;
            width: 100%;
            height: 100%;
            z-index: 2;
            font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
            font-size: 2.5em;
            -ms-flex-line-pack: center;
            align-content: center;
            text-align: center;
            color: transparent;
            position: absolute;
            top: -100%;
            left: 0;
            -webkit-transition: .3s ease-in-out;
            -o-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
            text-decoration: none;
          }

          .cards_link_image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 100%;
            display: inline-block;
          }
        }
      }
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(10px) brightness(55%);
  filter: blur(10px) brightness(55%);
  width: 100%;
  min-height: 100%;
}

.slider_button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $light_blue_color;
  border-radius: 50%;
  border: none;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

  &:hover {
    -webkit-transform: scale(1.05) translateY(-50%);
    -ms-transform: scale(1.05) translateY(-50%);
    transform: scale(1.05) translateY(-50%);
  }

  &:first-of-type {
    background-image: url("../../resources/images/right_arrow.svg");
    left: 1rem;
  }

  &:last-of-type {
    right: 1rem;
    background-image: url("../../resources/images/left_arrow.svg");
  }
}

.form_error, .form_feedback {
  position: absolute;
  right: 0;
  top: 10em;
  padding: 1em;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  opacity: 1;
  color: $white_color;
  border-radius: .625em;
}

.form_error {
  background-color: $red_color;
}

.form_feedback {
  background-color: $green_color;
}

.disappear {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0;
}

.field_error {
  color: $red_color;
}

body {
  font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
  background-color: $light_grey_color;
  overflow-x: hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  h1, h2, h3 {
    font-family: 'HelveticBold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
    font-weight: bold;
  }

  h2, h3 {
    color: $dark_blue_color;
  }

  h1, h2 {
    font-size: 6.25em;
  }

  h1 {
    color: $white_color;
  }

  h2 {
    margin-bottom: 1.5em;

    &.main_title {
      color: $white_color;
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 2.5em;
  }

  img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: left;
    object-position: left;
  }

  header {
    color: $white_color;
    width: calc(100vw - 10em);
    height: calc(100vh - 10em);
    padding: 5em;
    overflow: hidden;
    position: relative;

    &.home {
      .background {
        background-image: url("../../resources/images/décors rome.png");
      }
    }

    &.contact {
      .background {
        background-image: url("../../resources/images/décors grèce.png");
      }

      .content {
        div.flex_container {
          .list_links {

            li:first-child .cards_link_image {
              background-image: url("../../resources/images/tel.png");
            }

            li:last-child .cards_link_image {
              background-image: url("../../resources/images/mail.png");
            }
          }
        }
      }
    }

    &.about {
      .background {
        background-image: url("../../resources/images/décors égypte.png");
      }

      .content {
        div.flex_container {

          img {
            border-radius: .625em;
          }
        }
      }
    }

    &.projects {
      .background {
        background-image: url("../../resources/images/décors perse.png");
      }

      .content {
        div.flex_container {
          .list_links {

            li:first-child .cards_link_image {
              background-image: url("../../resources/images/cv_landing_page.png");
            }

            li:nth-child(2) .cards_link_image {
              background-image: url("../../resources/images/portfolio.png");
            }

            li:last-child .cards_link_image {
              background-image: url("../../resources/images/sef_final_logo.png");
            }
          }
        }
      }
    }

    &.project_cv {
      .background {
        background-image: url("../../resources/images/cv_landing_page.png");
      }

      .content {
        div.flex_container {
          .list_links {

            li:first-child .cards_link_image {
              background-image: url("../../resources/images/ttw_landing_page.png");
            }

            li:last-child .cards_link_image {
              background-image: url("../../resources/images/cv_landing_page.png");
            }
          }
        }
      }
    }

    &.project_portfolio {
      .background {
        background-image: url("../../resources/images/portfolio.png");
      }
    }

    &.project_sef {
      .background {
        background-image: url("../../resources/images/sef_final_logo.png");
      }

      .content {
        div.flex_container {
          .list_links {

            li:first-child .cards_link_image {
              background-image: url("../../resources/images/sef_huy.png");
            }

            li:last-child .cards_link_image {
              background-image: url("../../resources/images/sef_final_logo.png");
            }
          }
        }
      }
    }
  }

  main {
    color: $dark_blue_color;
    margin: $section_margin 0;

    .no_js_banner {
      background-color: $dark-blue_color;

      &_text {
        color: $white_color;
        margin-bottom: 1.2em;
      }

      .banner {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;

        div {
          margin: 5em;
        }

        label {
          width: 30px;
          height: 30px;
          display: inline-block;
          position: relative;
          cursor: pointer;
          margin: 5em 5em 0 0;

          &:before, &:after {
            content: '';
            width: 3px;
            height: 100%;
            background-color: $white_color;
            position: absolute;
            top: 0;
            left: 12.5px;
          }

          &:before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }

          &:after {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
        }

        input {
          clip: rect(0 0 0 0);
          -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          visibility: hidden;
          position: absolute;

          &:checked {
            display: none;

            & + label + div, & + label {
              display: none;
            }
          }
        }
      }
    }

    .last_time_modified {
      margin-left: 5em;
    }

    &.flex_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;

      section:nth-of-type(even) {
        padding-left: 0;
        -ms-flex-item-align: end;
        align-self: flex-end;
      }

      section:nth-of-type(odd) {
        padding-right: 0;
      }

      section {
        max-width: 60%;
      }
    }

    .last_projects_container {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      row-gap: 3.75em;

      &:hover {
        & .last_project:hover {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05);

          & .last_project_link {
            top: 0;
            color: $white_color;
          }
        }

        & .last_project:not(:hover) {
          -webkit-transform: scale(.95);
          -ms-transform: scale(.95);
          transform: scale(.95);
          -webkit-filter: brightness(5%);
          filter: brightness(5%);

          &:nth-of-type(even) {
            -webkit-transform: translateY(calc(50% + 1.875em)) scale(.95);
            -ms-transform: translateY(calc(50% + 1.875em)) scale(.95);
            transform: translateY(calc(50% + 1.875em)) scale(.95);
          }
        }

        & .last_project:nth-of-type(even):hover {
          -webkit-transform: translateY(calc(50% + 1.875em)) scale(1.05);
          -ms-transform: translateY(calc(50% + 1.875em)) scale(1.05);
          transform: translateY(calc(50% + 1.875em)) scale(1.05);
        }
      }

      .last_project {
        display: inline-block;
        -webkit-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        width: calc(50% - 20px);
        height: 30em;
        overflow: hidden;
        position: relative;
        border-radius: .625em;

        &:nth-of-type(even) {
          -webkit-transform: translateY(calc(50% + 1.875em));
          -ms-transform: translateY(calc(50% + 1.875em));
          transform: translateY(calc(50% + 1.875em));
        }

        &_link {
          position: absolute;
          width: 100%;
          height: 100%;
          top: -100%;
          left: 0;
          -webkit-transition: .3s ease-in-out;
          -o-transition: .3s ease-in-out;
          transition: .3s ease-in-out;
          -ms-flex-line-pack: center;
          align-content: center;
          text-align: center;
          color: transparent;
          text-decoration: none;
          z-index: 1;
          font-size: 2.5em;
          font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
          font-weight: bold;
          background-color: rgba(0, 0, 0, .4);
        }

        &_card {
          width: 100%;
          height: 100%;
          text-indent: -100000px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: top center;
          background-size: cover;
        }

        &:first-of-type .last_project_card {
          background-image: url("../../resources/images/piédestal avec cv.png");
        }

        &:nth-of-type(2) .last_project_card {
          background-image: url("../../resources/images/piédestal avec portfolio.png");
        }

        &:last-of-type .last_project_card {
          background-image: url("../../resources/images/piédestal avec sef.png");
        }
      }
    }

    .home_cv {
      width: calc(100vw - 10em);
      padding: 10.625em 5em;
      text-align: center;
      position: relative;

      .cv_background {
        background-image: url("../../resources/images/cv_landing_page.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-filter: brightness(55%);
        filter: brightness(55%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .home_cv_container {
        position: relative;
        z-index: 1;

        h2, p {
          color: $white_color;
        }

        h2 {
          margin-bottom: .7em;
        }

        p {
          font-size: 2.5em;
          margin-bottom: 5em;
        }

        .cv_links_container {
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          gap: 1.875em;

          a {
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
          }
        }

      }
    }

    .skills_container {
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      gap: 6.25em 1.875em;

      .skill {
        -ms-flex-preferred-size: 22em;
        flex-basis: 22em;

        &_description {
          margin-top: 2.4em;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: .625em;
        }
      }
    }

    .soft_skills_container, .hobbies_container {

      -webkit-box-align: initial;

      -ms-flex-align: initial;

      align-items: initial;

      article {
        border-top: 1px solid $dark_blue_color;
        padding: 5em 2.5em 2.5em 2.5em;
        -ms-flex-preferred-size: 33%;
        flex-basis: 33%;

        &:not(:last-child) {
          border-right: 1px solid $dark_blue_color;
        }

        &:first-child {
          padding-left: 0;
        }

        .soft_skill_title, .hobby_title {
          margin-bottom: 1.5em;
          font-size: 2.5em;
        }
      }
    }

    .scholar_career_container {
      background-image: url("../../resources/images/timeline_arrow.svg");
      height: 1052px;
      background-repeat: no-repeat;
      background-position: 50%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      ul {
        width: 80%;
        height: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;

        li {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 1em;
          -webkit-box-align: initial;
          -ms-flex-align: initial;
          align-items: initial;
          position: relative;

          &:after {
            background-color: $dark_blue_color;
            width: 100px;
            height: 100px;
          }

          &:nth-child(even) {
            text-align: right;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;

            .scholar_formation {
              &:before {
                width: 20%;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                background-color: $dark_blue_color;
              }
            }
          }

          &:nth-child(odd) {
            .scholar_formation {
              &:after {
                width: 20%;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 30%;
                content: "";
                background-color: $dark_blue_color;
              }
            }
          }

          .scholar_formation {
            width: 25%;

            time {
              font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
              font-weight: bold;
              font-size: 2.5em;
            }
          }
        }
      }
    }

    .form_container {
      form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
        row-gap: 4.8em;

        input[type="submit"] {
          font-size: 1.6em;
        }

        fieldset {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: initial;
          -ms-flex-align: initial;
          align-items: initial;
          row-gap: 3em;

          legend {
            font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
            font-weight: bold;
            font-size: 2.5em;
            margin-bottom: 1.5em;
          }

          .label_input {
            position: relative;
            -ms-flex-preferred-size: calc(50% - 1.5em);
            flex-basis: calc(50% - 1.5em);

            input, textarea {
              min-height: 8.9375em;
              width: calc(100% - 4em - 4px);
              padding: 0 2em;
              background-color: transparent;
              border: 2px solid $dark_blue_color;
              border-radius: .4em;
            }

            textarea {
              padding-top: 4em;
            }

            .label_positioning {
              background-color: $light_grey_color;
              position: absolute;
              z-index: 1;
              top: -12.5px;
              left: 2em;
              padding: 0 .8em;
            }
          }
        }
      }
    }

    .projects_container, .presentation_container, .language_container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 7.5em;

      article {
        &:nth-child(even) .project_content, &:nth-child(even) .presentation_content, &:nth-child(even) .language_content {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: reverse;
          -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
        }

        .project_content, .presentation_content, .language_content {
          -webkit-box-align: initial;
          -ms-flex-align: initial;
          align-items: initial;
          gap: 3.75em;

          img {
            width: 50%;
            height: auto;
            border-radius: .625em;
          }

          .text_and_links {
            -webkit-box-pack: unset;
            -ms-flex-pack: unset;
            justify-content: unset;
            gap: 3.75em;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            .links_container {
              width: 100%;
              gap: 2.5em;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              -webkit-box-align: stretch;
              -ms-flex-align: stretch;
              align-items: stretch;

              a {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
              }
            }
          }
        }
      }
    }

    .language_container {
      .language_content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
        flex-flow: row-reverse;
      }
    }

    .slider_container {
      position: relative;
      height: 41.625em;

      .slideshow {
        position: relative;
        width: calc(100%);
        height: 100%;

        &_content {
          display: inline-block;
          width: 300%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;

          li {
            display: inline-block;
            height: 100%;
            width: calc(100% / 3 - 3px);

            img {
              width: 100%;
              height: 100%;
              border-radius: .625em;
            }
          }
        }
      }
    }


    .ln_title {
      margin-bottom: .6em;
    }

    .owner {
      &:not(:last-of-type) {
        margin-bottom: .8333em;
      }
    }

    .contact_me_container {
      text-align: center;
    }
  }

  footer {
    background-color: $dark_blue_color;
    padding: 5em;
    color: $white_color;

    article.flex_container {
      -webkit-box-align: initial;
      -ms-flex-align: initial;
      align-items: initial;

      &:last-child {
        small {
          font-size: 1.25em;
        }
      }

      &:first-child {
        border-bottom: 1px solid $white_color;
        padding-bottom: 5em;
        margin-bottom: 5em;

        nav, aside, div {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          gap: 3.75em;
          -webkit-box-pack: initial;
          -ms-flex-pack: initial;
          justify-content: initial;
          -webkit-box-align: initial;
          -ms-flex-align: initial;
          align-items: initial;
        }

        nav {
          ul {
            gap: 1.875em;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: initial;
            -ms-flex-align: initial;
            align-items: initial;
          }
        }

        aside {
          -ms-flex-preferred-size: 43.8125em;
          flex-basis: 43.8125em;

          ul {
            li {
              &:first-child a {
                background-image: url("../../resources/images/facebook.svg"), url("../../resources/images/jarre.svg");
              }

              &:nth-of-type(2) a {
                background-image: url("../../resources/images/instagram.svg"), url("../../resources/images/jarre.svg");
              }

              &:last-child a {
                background-image: url("../../resources/images/github.svg"), url("../../resources/images/jarre.svg");
              }

              a {
                overflow: hidden;
                background-position: center 125px, center;
                background-repeat: no-repeat, no-repeat;
                display: inline-block;
                text-indent: -100000px;
                width: 156px;
                height: 317px;
              }
            }
          }
        }
      }

      div {

        p {
          width: 11.68em;
        }

        a {
          margin-top: 1em;
        }
      }

      h3 {
        color: $white_color;
      }
    }
  }
}

@media (height <1080px) {
  .text {
    font-size: 1em;
  }

  .cta_links {
    font-size: 1.875em;
  }

  .light_links {
    &_footer {
      font-size: 1.5625em;
    }
  }

  .content {
    & > div.flex_container {
      .title_and_catchphrase_container {
        .catchphrase {
          font-size: 1.875em;
        }
      }

      .list_links {
        ul {
          li {
            .cards_link {
              font-size: 1.875em;
            }
          }
        }
      }
    }
  }

  .section {
    padding: 0 2.5em;
  }

  .go_back {
    a.go_back_link {
      padding: 0 0 0 5em;
    }
  }

  body {
    h1, h2 {
      font-size: 3.75em;
    }

    h3 {
      font-size: 1.875em;
    }

    header {
      padding: 2.5em;
      height: calc(100vh - 5em);
      width: calc(100vw - 5em);
    }

    main {

      .last_projects_container {
        .last_project {
          &_link {
            font-size: 1.875em;
          }
        }
      }

      .last_time_modified {
        margin-left: 2.5em;
      }

      .banner {
        div {
          margin: 2.5em;
        }

        label {
          margin: 2.5em 2.5em 0 0;
        }
      }

      .home_cv {
        padding: 10.625em 2.5em;
        width: calc(100vw - 5em);

        .home_cv_container {
          p {
            font-size: 1.875em;
          }
        }
      }
    }

    footer {
      padding: 2.5em;
    }
  }
}

@media (width<=1500px) {
  footer {
    article.flex_container:first-child {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 7.5em;
      -webkit-box-pack: initial;
      -ms-flex-pack: initial;
      justify-content: initial;

      aside.flex_container {
        width: 75%;
        -ms-flex-preferred-size: initial;
        flex-basis: initial;

        ul {
          gap: 1.875em;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (width <= 1027px) and (width >= 775px) and (width <= 530px) {
  body {
    main {
      .form_container {
        form {
          fieldset {
            .label_input {
              input, textarea {
                padding-top: 1em;
              }
            }
          }
        }
      }
    }
  }
}

@media (width<=775px) {
  body {
    header {
      .content {
        & > div.flex_container {
          .list_links {
            ul {
              li {
                .cards_link {
                  top: 0;
                  background: rgba(0, 0, 0, .4);
                  color: $white_color;
                }
              }
            }
          }
        }
      }
    }

    main {
      .projects_container, .presentation_container, .language_container {
        article {
          &:nth-child(even) .project_content, &:nth-child(even) .presentation_content, &:nth-child(even) .language_content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
          }

          .project_content, .presentation_content, .language_content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 1.875em;

            img {
              width: 100%;
            }

            .text_and_links {
              gap: 1.875em;
            }
          }
        }
      }

      .last_projects_container {
        .last_project {
          &_link {
            top: 0;
            color: $white_color;
          }
        }
      }

      .form_container {
        fieldset {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
        }
      }
    }

    .slider_container {
      .slideshow {
        &_content {

        }
      }
    }

    footer {
      article.flex_container:last-child {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1.875em;
      }
    }
  }
}

@media (width <= 700px) {
  body {
    main {
      .last_projects_container {
        .last_project {
          height: 15em;
        }
      }

      .soft_skills_container, .hobbies_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;

        article {
          border-top: none;
          padding-left: 0;
          padding-top: 0;

          &:not(:last-child) {
            border-right: none;
          }

          &:not(:first-child) {
            border-top: 1px solid $dark_blue_color;
            padding-top: 2.5em;
          }

          &:last-child {
            padding-bottom: 0;
          }

          .soft_skill_title, .hobby_title {
            font-size: 1.25em;
          }
        }
      }

      .slider_container {
        height: unset;

        .slider_button {
          display: none;
        }

        .slideshow {
          position: relative;
          width: calc(100%);
          height: 100%;

          &_content {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: initial;
            width: 100%;

            li {
              display: inline-block;
              height: 100%;
              width: initial;

              img {
                width: 100%;
                height: 100%;
                border-radius: .625em;
              }
            }
          }
        }
      }
    }
  }
}

@media (width <= 550px) {
  body {
    header {

      .main_nav {
        position: relative;

        &_list {
          position: absolute;
          top: -10000px;
          z-index: 3;
        }

        &_home_link {
          width: 50px;
          height: 36.82px;
        }

        label[for="burger_menu"], input[id="burger_menu"] {
          display: initial;
        }

        input[type="checkbox"] {
          clip: rect(0 0 0 0);
          -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          visibility: hidden;
          position: absolute;

          &:checked {
            & ~ .main_nav_list {
              top: -2.5em;
              left: -2.5em;
              padding: 5em;
              background-color: $dark_blue_color;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              -webkit-box-pack: space-evenly;
              -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              width: calc(100vw - 10em);
              height: calc(100vh - 10em);

              & li {
                margin: 0;

                a {
                  font-size: 2.5em;
                }
              }
            }

            & ~ label[for="burger_menu"] {
              z-index: 4;
            }

            & ~ label .line {
              background-color: transparent;
            }

            & ~ label .line:before, & ~ label .line:after {
              background-color: #fff;
            }

            & ~ label .line:before {
              -ms-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }

            & ~ label .line:after {
              -ms-transform: rotate(45deg);
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }

        label[for='burger_menu'] {
          width: 2em;
          height: 3em;
          position: relative;

          .line {
            width: 100%;
            display: block;
            height: 0.2em;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background-color: #fff;
            -webkit-transition: background-color 0.3s ease-in-out;
            -o-transition: background-color 0.3s ease-in-out;
            transition: background-color 0.3s ease-in-out;

            &:before, &:after {
              content: '';
              height: 0.2em;
              width: 100%;
              background-color: #fff;
              position: absolute;
              -webkit-transition: -webkit-transform 0.3s ease-in-out;
              transition: -webkit-transform 0.3s ease-in-out;
              -o-transition: transform 0.3s ease-in-out;
              transition: transform 0.3s ease-in-out;
              transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            }

            &:before {
              -ms-transform: translateY(-0.5em);
              -webkit-transform: translateY(-0.5em);
              transform: translateY(-0.5em);
            }

            &:after {
              -ms-transform: translateY(0.5em);
              -webkit-transform: translateY(0.5em);
              transform: translateY(0.5em);
            }
          }
        }
      }
    }

    main {
      &.flex_container {
        section {
          max-width: unset;

          &:nth-of-type(odd) {
            padding-right: 2.5em;
          }

          &:nth-of-type(even) {
            -ms-flex-item-align: start;
            align-self: flex-start;
            padding-left: 2.5em;
            padding-right: 2.5em;
          }
        }
      }
    }
  }
}

@media (width <= 500px) {
  body {
    h1, h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 1.25em;
    }

    header {
      padding: 1em;
      height: calc(100vh - 2em);
      width: calc(100vw - 2em);

      .main_nav {

        input[id="burger_menu"]:checked {
          & ~ .main_nav_list {
            top: -1em;
            left: -1em;
            padding: 1em;
            width: calc(100vw - 2em);
            height: calc(100vh - 2em);

            li {
              a {
                font-size: 1.875em;
              }
            }
          }
        }

        & > .flex_container {
          gap: 3.75em;
        }
      }

      .content {
        div.flex_container {
          gap: 3.75em;

          .list_links {
            ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              max-height: unset;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;

              li {
                width: 60%;
              }
            }
          }

          div:has(img) {
            text-align: center;
          }
        }
      }
    }

    main {
      &.flex_container {
        section {
          &:nth-of-type(odd) {
            padding-right: 1em;
          }

          &:nth-of-type(even) {
            padding-left: 1em;
            padding-right: 1em;
          }
        }
      }

      .last_projects_container {
        .last_project {
          height: 7.5em;

          &_link {
            font-size: 1.25em;
          }
        }
      }

      .last_time_modified {
        margin-left: 1em;
      }

      .banner {
        div {
          margin: 1em;
        }

        label {
          margin: 1em 1em 0 0;
        }
      }

      .home_cv {
        padding: 10.625em 1em;
        width: calc(100vw - 2em);

        .home_cv_container {
          p {
            font-size: 1.25em;
          }
        }
      }
    }

    footer {
      padding: 2.5em 1em;
    }
  }

  .text {
    font-size: .75em;
  }

  .cta_links {
    font-size: 1.25em;
  }

  .light_links {
    &_footer {
      font-size: 1em;
    }
  }

  .section {
    padding: 0 1em;
  }

  .go_back {
    a.go_back_link {
      padding: 0 0 0 7em;
    }
  }

  .content {
    & > div.flex_container {
      .title_and_catchphrase_container {
        .catchphrase {
          font-size: 1.25em;
        }
      }

      .list_links {
        ul {
          li {
            .cards_link {
              font-size: 1.25em;
            }
          }
        }
      }
    }
  }
}