//sass --watch index.scss:../css/index.css
@import "variables";

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.text {
  font-size: 1.5625em;
}

.spacing {
  margin-top: $section_margin;
}

.section {
  padding: 0 5em;
}

.cta_links {
  font-size: 2.5em;
  padding: 1.25em .55em;
  color: $white_color;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-align: center;
  display: inline-block;
  border-radius: .25em;
  font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  &:hover {
    transform: scale(1.05);
  }
}

.light_links {
  background-color: $light_blue_color;

  &_footer {
    background-color: $light_blue_color;
    font-size: 1.875em;
    border-radius: .333em;
  }
}

.dark_links {
  background-color: $dark_blue_color;
}

.transparent_links {
  &_white {
    padding: calc(1.25em - 2px) .55em;
    border: 2px solid $white_color;
  }

  &_blue {
    padding: calc(1.25em - 2px) .55em;
    border: 2px solid $dark_blue_color;
    color: $dark_blue_color;
  }
}

.main_footer_link {
  font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
  color: $white_color;
  text-decoration: 1px underline transparent;
  transition: 0.3s ease-in-out;

  &:hover {
    text-decoration: 1px underline $white_color;
  }
}

.flex_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress_bar {
  background-color: $light_blue_color;
  height: .3em;
  position: fixed;
  bottom: 0;
  width: 0;
  border-radius: .15em;
}

.main_nav {
  &_home_link {
    background-image: url("../../resources/images/logo.svg");
    width: 110px;
    height: 81px;
    text-indent: -10000px;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  &_list {
    &_item {
      &:not(:last-child) {
        margin-right: 2.8em;
      }
    }
  }
}

.content {
  z-index: 1;
  position: relative;

  & > div.flex_container {
    margin-top: 6.25em;
    align-items: initial;
    gap: 16.8125em;

    .title_and_catchphrase_container {
      .main_title {
        span {
          display: block;
          margin-bottom: .25em;
        }
      }

      .catchphrase {
        margin-top: 1.5em;
        font-size: 2.5em;
      }
    }

    .list_links {
      transition: 0.3s ease-in-out;

      &:hover li:hover {
        transform: scale(1.05);
      }

      ul {
        flex-direction: column;
        gap: 1.5625em;

        li {
          transition: 0.3s ease-in-out;

          &:hover {
            transform: scale(1.05);
          }

          &:first-child a {
            background-image: url("../../resources/images/decors_egypte_small.svg");
          }

          &:nth-of-type(2) a {
            background-image: url("../../resources/images/decors_perse_small.svg");
          }

          &:last-child a {
            background-image: url("../../resources/images/decors_grece_small.svg");
          }

          .cards_link {
            display: inline-block;
            border-radius: .625em;
            text-indent: -100000px;
            background-position: center;
            background-repeat: no-repeat;
            width: 26.625em;
            height: 15.25em;
          }
        }
      }
    }
  }
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(10px) brightness(55%);
  width: 100%;
  min-height: 100%;
}

.scroll_down {
  position: absolute;
  left: calc(50% - 151px);
  bottom: 5em;
  background-image: url("../../resources/images/fleche_bas.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-bottom: calc(1.875em + 51px);
  animation: 1s ease-in-out infinite move_down;

  &_phrase {
    font-size: 2.1875em;
    color: $white_color;
  }
}

@keyframes move_down {
  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

body {
  font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
  background-color: $light_grey_color;

  h1, h2, h3 {
    font-family: 'HelveticBold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
    font-weight: bold;
  }

  h2, h3 {
    color: $dark_blue_color;
  }

  h1 {
    font-size: 6.25em;
    color: $white_color;
  }

  h2 {
    font-size: 6.25em;
    margin-bottom: 1.5em;

    &.main_title {
      color: $white_color;
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 2.5em;
  }

  header {
    color: $white_color;
    width: calc(100vw - 10em);
    height: calc(100vh - 10em);
    padding: 5em;
    overflow: hidden;
    position: relative;

    &.home {
      .background {
        background-image: url("../../resources/images/décors rome.png");
      }
    }

    &.contact {
      .background {
        background-image: url("../../resources/images/décors grèce.png");
      }

      .content {
        div.flex_container {
          .list_links {
            li a {
              background-size: cover;
            }

            li:first-child a {
              background-image: url("../../resources/images/tel.png");
            }

            li:last-child a {
              background-image: url("../../resources/images/mail.png");
            }
          }
        }
      }
    }

    &.about {
      .background {
        background-image: url("../../resources/images/décors égypte.png");
      }

      .content {
        div.flex_container {

          img {
            border-radius: .625em;
            height: 46.2em;
          }
        }
      }
    }

    &.projects {
      .background {
        background-image: url("../../resources/images/décors perse.png");
      }

      .content {
        div.flex_container {
          .list_links {
            li a {
              background-size: cover;
            }

            li:first-child a {
              background-image: url("../../resources/images/cv_landing_page.png");
            }

            li:nth-child(2) a {
              background-image: url("../../resources/images/portfolio.png");
            }

            li:last-child a {
              background-image: url("../../resources/images/sef_final_logo.png");
            }
          }
        }
      }
    }

    &.project_cv {
      .background {
        background-image: url("../../resources/images/cv_landing_page.png");
      }
    }

    &.project_portfolio {
      .background {
        background-image: url("../../resources/images/portfolio.png");
      }
    }

    &.project_sef {
      .background {
        background-image: url("../../resources/images/sef_final_logo.png");
      }
    }
  }

  main {
    color: $dark_blue_color;
    margin: $section_margin 0;

    .last_projects_container {
      flex-wrap: wrap;
      row-gap: 3.75em;

      .last_project {
        display: inline-block;
        transition: .3s ease-in-out;

        &:nth-of-type(2) {
          transform: translateY(calc(50% + 1.875em));

          &:hover {
            transform: scale(1.05) translateY(calc(50% + 1.875em));
          }
        }

        &:hover {
          transform: scale(1.05);
        }

        a {
          width: 53.75em;
          min-height: 41.625em;
          text-indent: -100000px;
          display: inline-block;
          background-repeat: no-repeat;
          background-position: top center;
          border-radius: 0.625em;
        }

        &:first-of-type a {
          background-image: url("../../resources/images/piédestal avec cv.png");
        }

        &:nth-of-type(2) a {
          background-image: url("../../resources/images/piédestal avec portfolio.png");
        }

        &:last-of-type a {
          background-image: url("../../resources/images/piédestal avec sef.png");
        }
      }
    }

    .home_cv {
      width: 100vw;
      padding: 10.625em 0;
      text-align: center;
      position: relative;

      .cv_background {
        background-image: url("../../resources/images/cv_landing_page.png");
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
        filter: brightness(55%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .home_cv_container {
        position: relative;
        z-index: 1;

        h2, p {
          color: $white_color;
        }

        h2 {
          margin-bottom: .7em;
        }

        p {
          font-size: 2.5em;
          margin-bottom: 5em;
        }

        .cv_links_container {
          padding: 0 30.6875em;
        }

      }
    }

    .skills_container {
      align-items: initial;
      flex-wrap: wrap;
      justify-content: unset;
      gap: 6.25em 22em;

      .skill {
        flex-basis: 22em;

        &_description {
          font-size: 1.5625em;
          margin-top: 2.4em;
        }

        img {
          width: 100%;
          height: auto;
          border-radius: .625em;
        }
      }
    }

    .soft_skills_container, .hobbies_container {

      align-items: initial;

      article {
        border-top: 1px solid $dark_blue_color;
        padding: 5em 2.5em 2.5em 2.5em;
        flex-basis: 33%;

        &:not(:last-child) {
          border-right: 1px solid $dark_blue_color;
        }

        &:first-child {
          padding-left: 0;
        }

        .soft_skill_title, .hobby_title {
          margin-bottom: 1.5em;
          font-size: 2.5em;
        }
      }
    }

    .scholar_career_container {
      background-image: url("../../resources/images/timeline_arrow.svg");
      height: 1052px;
      background-repeat: no-repeat;
      background-position: 50%;
      justify-content: center;

      ul {
        width: 80%;
        height: 80%;
        flex-direction: column;
        align-items: initial;

        li {
          flex-direction: column;
          gap: 1em;
          align-items: initial;
          position: relative;

          &:after {
            background-color: $dark_blue_color;
            width: 100px;
            height: 100px;
          }

          &:nth-child(even) {
            text-align: right;
            align-items: flex-end;

            .scholar_formation {
              &:before {
                width: 20%;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                background-color: $dark_blue_color;
              }
            }
          }

          &:nth-child(odd) {
            .scholar_formation {
              &:after {
                width: 20%;
                height: 10px;
                position: absolute;
                top: 50%;
                left: 30%;
                content: "";
                background-color: $dark_blue_color;
              }
            }
          }

          .scholar_formation {
            width: 25%;

            time {
              font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
              font-weight: bold;
              font-size: 2.5em;
            }

            p {
              font-size: 1.5625em;
            }
          }
        }
      }
    }

    .form_container {
      form {
        font-size: 1.5625em;
        flex-direction: column;
        align-items: initial;
        row-gap: 4.8em;

        fieldset {
          flex-wrap: wrap;
          align-items: initial;
          gap: 3em;

          legend {
            font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
            font-weight: bold;
            font-size: 2.5em;
            margin-bottom: 1.5em;
          }

          .label_input {
            flex-basis: 32em;
            position: relative;

            input, textarea {
              min-height: 8.9375em;
              width: calc(100% - 4em - 4px);
              padding: 0 2em;
              background-color: transparent;
              border: 2px solid $dark_blue_color;
              border-radius: .4em;
            }

            textarea {
              padding-top: 4em;
            }

            .label_positioning {
              background-color: $light_grey_color;
              position: absolute;
              z-index: 1;
              top: -12.5px;
              left: 2em;
              padding: 0 .8em;
            }
          }
        }
      }
    }

    .projects_container {
      flex-direction: column;
      gap: 7.5em;

      article {
        &:nth-child(even) .project_content {
          flex-flow: row-reverse;
        }

        .project_content {
          align-items: initial;
          gap: 3.75em;

          img {
            width: 50%;
            height: auto;
            border-radius: .625em;
          }

          .text_and_links {
            justify-content: unset;
            gap: 3.75em;
            flex-direction: column;

            p {
              font-size: 1.5625em;
            }

            .links_container {
              align-items: initial;
              width: 100%;
            }
          }
        }
      }
    }

    .contact_me_container {
      text-align: center;
    }
  }

  footer {
    background-color: $dark_blue_color;
    padding: 5em;
    color: $white_color;

    article.flex_container {
      align-items: initial;

      &:last-child {
        small {
          font-size: 1.25em;
        }
      }

      &:first-child {
        border-bottom: 1px solid $white_color;
        padding-bottom: 5em;
        margin-bottom: 5em;

        nav, aside, div {
          flex-direction: column;
          gap: 3.75em;
          justify-content: initial;
          align-items: initial;
        }

        nav {
          ul {
            gap: 1.875em;
            flex-direction: column;
            align-items: initial;
          }
        }

        aside {
          flex-basis: 43.8125em;

          ul {
            li {
              &:first-child a {
                background-image: url("../../resources/images/facebook.svg"), url("../../resources/images/jarre.svg");
              }

              &:nth-of-type(2) a {
                background-image: url("../../resources/images/instagram.svg"), url("../../resources/images/jarre.svg");
              }

              &:last-child a {
                background-image: url("../../resources/images/github.svg"), url("../../resources/images/jarre.svg");
              }

              a {
                overflow: hidden;
                background-position: center 125px, center;
                background-repeat: no-repeat, no-repeat;
                display: inline-block;
                text-indent: -100000px;
                width: 156px;
                height: 317px;
              }
            }
          }
        }
      }

      div {

        p {
          width: 11.68em;
        }

        a {
          margin-top: 1em;
        }
      }

      h3 {
        color: $white_color;
      }
    }
  }
}