//COLORS

$light_blue_color: #254494;
$dark_blue_color: #09214A;
$light_grey_color: #dcdcdc;
$white_color: rgb(255, 255, 255);
$green_color: #3a790b;
$red_color: #790b0b;

//MARGIN

$section_margin: 12.5em;
$section_content_margin: 1.5em;